/.vs
/.idea
/Build
/References
/FikaCompat/bin
/FikaCompat/obj
/Plugin/bin
/Plugin/obj
/Prepatch/bin
/Prepatch/obj
/Server/bin
/Server/obj
/Server/docs
/Config/bin
/Config/obj
/Config/publish
/Config/publish_commands.md
/RaidOverhaul.sln.DotSettings.user
